.tr_height {
    height: 40px;
}

 .pos_center {
    text-align: center;
    vertical-align: middle;
 }

 .pos_left_middle {
    text-align: left;
    vertical-align: middle;
 }

 .bottom_center {
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
 }

 .pagination_center {
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    font-size: 16px;
 }

 .green_button {
     background-color: green;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     
 }

 .red_button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

#page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
  }

#page-numbers > li {
    margin-right: 0.3em;
    color: blue;
}  